{%- macro render_content(content) -%}
{%- if content is string -%}{{- content.replace("<audio_patch>\n", "<audio_patch>") -}}
{%- elif content is mapping -%}{{- content['value'] if 'value' in content else content['text'] -}}
{%- elif content is iterable -%}{%- for item in content -%}{%- if item.type == 'text' -%}{{- item['value'] if 'value' in item else item['text'] -}}{%- elif item.type in ['audio', 'input_audio'] -%}<audio_patch>{%- endif -%}{%- endfor -%}
{%- endif -%}
{%- endmacro -%}
{%- if messages[0]['role'] == 'system' -%}{{- '<|BOT|>system\n' + render_content(messages[0]['content']) + '<|EOT|>' -}}{%- endif -%}
{%- for message in messages -%}
{%- if message['role'] in ['user', 'human'] -%}{{- '<|BOT|>human\n' + render_content(message['content']) + '<|EOT|>' -}}
{%- elif message['role'] == 'assistant' -%}{{- '<|BOT|>assistant\n' + (render_content(message['content']) if message['content'] else '') -}}{%- if not loop.last -%}{{- '<|EOT|>' -}}{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}{{- '<|BOT|>assistant\n<think>\n' -}}{%- endif -%}
